<%- include('header') -%>
    <div class="container">
        <%- include('navbar') -%>
        <main role="main" class="pb-3">
            <%= message %>
        </main>
    </div>
<%- include('footer') -%>