<% webPage.title='Please Sign In.' %>
  <%- include('../header') -%>
    <div class="container">
      <%- include('../navbar') -%>
        <main role="main" class="pb-3">
          <form method="POST" action="/auth/signin">
            <div class="row">
              <div class="form-group col-lg-4">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" name="userName"
                  placeholder="Please input your user name.">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                  placeholder="Please input your password.">
              </div>
            </div>
            <% if (message.length) {%>
              <div class="row">
                <div class="form-group col-lg-4">
                  <div class="alert alert-danger">
                    <%= message %>
                  </div>
                </div>
              </div>
              <%}%>
                <button class="btn btn-outline-primary" type="submit">Sign In</button>
          </form>
        </main>
    </div>
    <%- include('../footer') -%>